# IDE
.vscode/
.idea/
.editorconfig

# ci
.github/
.husky/

# git
.git
.gitignore
.gitattributes

# env
.env.local

# docker
.dockerignore
docker-compose*
compose.y*ml
Dockerfile*

# doc
LICENSE
*.md

# lint & format
.eslintcache
eslint.config.ts
stylelint.config.ts
prettier.config.js
.prettierignore

# other
node_modules/
dist/
